.appstore_button:hover,.apple_button:hover{
    cursor: pointer;
}
.standard_buttons{
    display: flex;
}
.standard_buttons i{
    font-size: 25px;
}
.apple_button{
    border-radius: 7px;
    background-color: rgb(36, 198, 87);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
}
.apple_button_text{
    font-size: 9px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.889;
    display: inline-block;
    margin: 0;
}
.apple_button_text span{
    font-size: 16px;
    display: block;
}
.appstore_button{
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #fff;
}
.appstore_button_text{
    font-size: 9px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.889;
    display: inline-block;
    margin: 0;
}
.appstore_button_text span{
    font-size: 16px;
    display: block;
}