.standard_buttons{
    display: flex;
    padding-top: 55px;
}
.fill_button{
    border-radius: 7px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    margin-right: 30px;
    & i{
        font-size: 25px;
    }   
    &_text{
        color: rgb(255, 255, 255);
        font-size: 9px;
        font-family: "Poppins";
        text-transform: uppercase;
        line-height: 0.889;
        display: inline-block;
        margin: 0;
        span{
            font-size: 16px;
            display: block;
        }
    }
    &:hover{
        cursor: pointer;
    }
}
.stroke_button{
    border-radius: 7px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    margin-right: 30px;
    & i{
        font-size: 25px;
    }
    
    &_text{
        color: rgb(255, 255, 255);
        font-size: 9px;
        font-family: "Poppins";
        text-transform: uppercase;
        line-height: 0.889;
        display: inline-block;
        margin: 0;
        span{
            font-size: 16px;
            display: block;
        }
    }
    &:hover{
        cursor: pointer;
    }
}