@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
    font-family: 'appnest';
    src:  url('../fonts/appnest.eot?2ys57g');
    src:  url('../fonts/appnest.eot?2ys57g#iefix') format('embedded-opentype'),
      url('../fonts/appnest.ttf?2ys57g') format('truetype'),
      url('../fonts/appnest.woff?2ys57g') format('woff'),
      url('../fonts/appnest.svg?2ys57g#appnest') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="app-"], [class*=" app-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'appnest' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.app-arrow_right:before {
    content: "\e919";
}
.app-star:before {
    content: "\e901";
}
.app-twitter-with-circle:before {
    content: "\e91b";
}
.app-instagram-with-circle:before {
    content: "\e91c";
}
.app-linkedin-with-circle:before {
    content: "\e91d";
}
.app-facebook-with-circle:before {
    content: "\e91a";
}  
.app-premium:before {
    content: "\e917";
}
.app-arrow:before {
    content: "\e916";
}
.app-footer_email:before {
    content: "\e900";
}
.app-awards:before {
    content: "\e902";
}
.app-download:before {
    content: "\e903";
}
.app-happyusers:before {
    content: "\e904";
}
.app-users:before {
    content: "\e907";
}
.app-security:before {
    content: "\e906";
}
.app-retina:before {
    content: "\e905";
}
.app-support:before {
    content: "\e908";
}
.app-apple:before {
    content: "\e909";
}
.app-diamond:before {
    content: "\e90a";
}
.app-playstore:before {
    content: "\e90b";
}
.app-info_blue:before {
    content: "\e90c";
}
.app-info_green:before {
    content: "\e90d";
}
.app-info_orange:before {
    content: "\e90e";
}
.app-info_pink:before {
    content: "\e918";
}
  
  

.border--green{
    border: 1px solid #24c657;
}
.border--black{
    border: 1px solid black;
}
.border--white{
    border: 1px solid white;
}

*:focus {
    outline: none;
}
button {
    border: none;
}
button:focus {
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
}
a:hover{
    text-decoration: none;
}
li{
    list-style-type: none;
}
p{
    padding: 0;
    margin: 0;
}
.paragraph{
    font-size: 15px;
    font-family: "Raleway";
    color: rgb(87, 87, 87);
    line-height: 1.6;
}
.header{
    font-size: 36px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    line-height: 1.333;
}
.capitalized--text{
    text-transform: capitalize;
}  
.poppins--font{
    font-family: 'Poppins', sans-serif;
}
.color {
    &--blue {
        color: #00cff1;
    }
    &--white {
        color: #fff;
    }
    &--black {
        color: rgb(0, 0, 0);
    }
    &--green {
        color: #24c657;
    }
    &--yellow{
        color: #eec400;
    }
    &--facebook{
        color: #3b5998;
    }
    &--twitter{
        color: #55acee;
    }
    &--instagram{
        color: #6a453b;
    }
    &--linkedin{
        color: #007ab9;
    }
}
.background_color{
    &--blue {
        background-color: #00cff1;
    }
    &--green {
        background-color: #24c657;
    }
    &--pink {
        background-color: #ff45c4;
    }
    &--orange {
        background-color: #ff9d46;
    }
    &--white {
        background-color: #fff;
    }
}
button:hover{
    cursor: pointer;
}
.navbar_content{
    padding-top: 70px;
    & a{
        color: white;
    }
}
.get_the_app_button{
    padding-top: 57px;
    & button {
        background: transparent;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 0.75;        
        border: 1px solid #fff;
        border-radius: 30px;
        width: 168px;
        height: 58px;
    }
}
header{
    background: url('/app/images/header_background.png') no-repeat;
    height: 100vh;
}
.header{
    &_content{
        display: flex;
        flex-wrap: wrap;
        &_left{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &_image{
        padding: 135px 0;
        & img{
            max-height: 100%;
            max-width: 100%;
        }
    }
    &_text p{
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.25;   
        color: #fff;     
    }
    &_paragraph p{
        font-size: 18px;
        line-height: 1.667;
        padding: 40px 0 5px;
    }
}
.light_span{
    font-weight: 100;
}
.info{
    &_section{
        margin-top: 23px;
        background: url('/app/images/second_section_background.png') no-repeat;
        background-size: cover;
    }
    &_relative{
        position: relative;
    }
    &_items{
        position: relative;
        padding-top: 113px;
    }
    &_icon{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 43px;
        transform: translate(-50%, -50%);
    }
    &_item_name{
        font-size: 18px;
        color: #414040;
        font-weight: bold;
        margin: 25px 0 20px;
        line-height: 0.444;          
    }
    &_item_description{
        font-size: 15px;
        margin-bottom: 140px;
        font-family: "Raleway",sans-serif;
        color: rgb(87, 87, 87);
        line-height: 1.6;
    }
}
    
.rounds {
    border-radius: 50%;
    position: absolute;
    width: 85px;
    height: 85px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.feature{
    &_section_phones{
        padding: 141px 0;
    }
    &_section_elements{
        display: flex;
        flex-wrap: wrap;
    }
    &_elements_header{
        font-size: 18px;
        color: #414040;
        font-weight: bold;
        line-height: 0.444;
        padding: 40px 0 22px;
    }
    &_element{
        padding-bottom: 70px;
    }
    &_section_elements i{
        font-size: 43px;
    }
}
.features_heading {
    padding-top: 140px;
}
.features_paragraph{
    padding: 21px 0 71px;
}
.video{
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &_section{
        padding: 0 15px;
        background-color: #fbfbfb;
        &_paragraph{
            padding-top: 20px;
        }
    }
    & img{
        object-fit: cover;
        max-width: 100%;
    }
    &_play_button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &_left_side{
        padding: 130px 0;
    }
}
.play_button_shadow{
    border-radius: 50%;
    background-color: rgb(0, 207, 241);
    opacity: 0.2;
}
.screenshots {
    padding: 140px 0;
    & img{
        max-height: 100%;
        max-width: 100%;
    }
    &_overlay{
        position: relative;
    }
    &_header{
        &_content{
            padding-bottom: 80px;
        }
        &_paragraph{
            padding-top: 30px;
        }
    }
}
.green_section{
    background: url(/app/images/green_section_background.png) no-repeat center;
    background-size: cover;
    &_content{
        position: relative;
    }
    &_icon{
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        i{
            font-size: 50px;   
        }
        &_header{
            padding-top: 10px;
            font-size: 48px;
            font-weight: bold;
            line-height: 1;
        }
        &_paragraph{
            font-size: 24px;
            font-weight: 400;
        }
    }
}
.green_section_content img{
    max-width: 100%;
}
.horizontal_line{
    position: absolute;
    top: 50%;
    left: 92%;
    width: 22%;
    border-top: 1px solid white;
}
.feedback{
    padding: 134px 0;
    &_paragraph{
        padding-top: 30px;
    }
    &_list{
        padding-top: 73px;
        flex-wrap: wrap;
        &_item{
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);   
            padding: 47px 27px;
        }
        &_name{
            font-size: 24px;
            font-weight: bold;
            padding-top: 25px;
            margin-bottom: 0;
        }
        &_job{
            font-size: 18px;
        }
        &_description{
            font-size: 18px;
            font-family: "Raleway";
            color: rgb(87, 87, 87);
            font-style: italic;
            padding: 33px 0 28px;
        }
    }
}
.price{
    &_paragraph{
        padding: 21px 0 37px;
    }
    &_price{
        font-size: 60px;
        font-weight: bold;
        line-height: 0.8;
    }
    &_name{
        font-size: 24px;
        color: rgb(87, 87, 87);
        font-weight: bold;
        line-height: 2;
        margin:0 0 34px;
    }
    &_month{
        font-size: 18px;
        color: rgb(87, 87, 87);
        line-height: 2.667;
    }
    &_table{
        flex-wrap: wrap;
        &_elements{
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
            padding: 79px 15px 74px;
        }
        &_description{
            font-size: 18px;
            font-family: "Raleway",sans-serif;
            color: rgb(87, 87, 87);
            line-height: 2.267;          
        }
    } 
}
.advertisement{
    background-image: url(/app/images/advertisement_background.png) no-repeat center;
    margin-top: 110px;
    position: relative;
    background-size: cover;
}
.ad{
    &_section_header span{
        display: block;
    }
    &_images{
        position: absolute;
        top: 14%;
        right: 0%;
    }
    &_first_image{
        position: absolute;
        z-index: 2;
    }
    &_second_image{
        position: absolute;
        z-index: 1;
        transform: translate(50%, 18%);
    }
    &_section_paragraph{
        padding-top: 20px;
    }
}
.news{
    padding-top: 77px;
    flex-wrap: wrap;
    &_section{
        padding: 140px 0;
    }
    &_header {
        font-size: 24px;
        font-weight: bold;
    }
    &_paragraph{
        padding-top: 30px;
        padding-top: 25px;
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(69, 69, 69);
    }
    &_date{
        padding-top: 19px;
    }
    &_date span{
        font-weight: bold;
    }
    &_elements img{
        width: 100%;
        max-height: 100%;
    }
    &_texts {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
        padding: 40px 28px;
    }
}
.read_more{
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}
.read_more i{
    padding-left: 5px;
}
footer{
    background-color: #fbfbfb;
}
.footer{
    &_container{
        padding: 65px 0;
    }
    &_header{
        font-size: 24px;
        color: rgb(87, 87, 87);
        font-weight: bold;
        padding-bottom: 15px;
    }
    &_items{
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(87, 87, 87);
        line-height: 2.4;
    }
    &_email{
        padding-top: 22px;
    }
    &_email input{
        position: relative;
        padding: 16px 35px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 30px 0 0 30px;
    }
    &_email button{
        padding: 20px 36px;
        position: absolute;
        border-radius: 0 30px 30px 0;
    }
}
.newsletter_text{
    padding-top: 35px;
}
.logo_and_links{
    padding-top: 7px;
}
.about_appnest{
    padding: 60px 0 30px;
}
::placeholder{
  font-size: 15px;
  font-family: "Raleway",sans-serif;
  color: rgb(134, 134, 134);
}     
.rights{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;      
}
.copyright span{
    font-weight: bold;
}
.arrow_top {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_top:hover{
    cursor: pointer;
}
.relative{
    position: relative;
}
.arrow_top i{
    font-size: 37px;
}
.social_links i{
    font-size: 35px;
    padding-right: 10px;
    cursor: pointer;
}
.social_links i:first-child{
    padding-left: 0;
}
@media(max-width: 1199px){
    .horizontal_line{
        display: none;
    }
    .footer_email input{
        padding: 16px 30px;
    }
    .footer_email button{
        padding: 20px 25px;
    }
}
@media(max-width: 991px){
    .ad_images{
        top: 23%;
    }
    .ad_second_image {
        transform: translate(24%, 18%);
    }
    .price_table_elements{
        padding: 27px 12px 58px;
    }
    .fill_sign_up_button button {
        transform: translate(-50%, 50%);
    }
    .features_content{
        text-align: center;
    }
    .feature_section_phones{
        text-align: center;
        padding: 0;
    }
    .info_items{
        padding-top: 0;
    }
    .get_the_app_button{
        display: none;
    }
    .header_image{
        padding: 75px 0;
        margin: 0 auto;
    }
    .header_text{
        padding-top: 30px;
    }
}
@media(max-width:778px){
    footer{
        text-align: center;
    }
    .footer_email{
        margin-right: 90px;
    }
    .social_links{
        justify-content: center;
    }
    .news_elements{
        text-align: center;
        padding-top: 23px;
    }
    .price_table_elements{
        margin: 27px 0;
    }
    .feedback_list_item{
        margin: 17px 0;
    }
    .info_item_description{
        margin-bottom: 40px;
    }
    .header_content_left{
        text-align: center;
    }
    .standard_buttons{
        justify-content: center;
    }
}

@media(max-width:478px){
    .footer_email input{
        padding: 16px 3px;
    }
    .footer_email button{
        padding: 20px 17px;
    }
    .footer_email{
        margin-right: 60px;
    }
}